parameters:
    level: 6
    paths:
        - backend
    excludePaths:
        - backend/bootstrap/autoload.php
        - backend/tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
