parameters:
    level: 6
    paths:
        - backend
    excludePaths:
        - backend/bootstrap/autoload.php
        - backend/tests
    ignoreErrors:
        - '#Call to an undefined method PDO::#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
