parameters:
    level: 6
    paths:
        - backend
    excludePaths:
        - backend/bootstrap/autoload.php
        - backend/tests
    ignoreErrors:
        - identifier: missingType.iterableValue
        -
            message: '#Match arm is unreachable because previous comparison is always true#'
