<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="Scanner Tests">
            <directory>.</directory>
            <directory>../Algorithms/AlgorithmX/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../</directory>
        </include>
        <exclude>
            <directory>../tests</directory>
        </exclude>
    </source>
</phpunit>
